<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о ценных бумагах и торгах.</title>
    <link rel="stylesheet" th:href="@{/css/simpleStyle.css}"/>
    <script type = "text/javascript" th:src="@{/js/util.js}"></script>
</head>
<body>
    <h2 class="commonPageHead" th:text="'Информация о ценных бумагах и торгах.'"/>
    <hr>
    <a class="button" th:href="@{/securities}">Информация о ценных бумагах</a>|
    <a class="button" th:href="@{/history}">История торгов за произвольную дату</a>|
    <a class="button" th:href="@{/upload}">Импорт информации из xml файла</a>
    <a class="button" th:href="@{/summary}">Сводные данные</a><br/>

    <hr>
    <div class = "container">
        В данном проекте используется Spring Boot(Web, Data, шаблонизатор Thymeleaf).<br>
        Выбрана СУБД H2 для простоты запуска приложения.<br>
        Парсинг XML через Simple API for XML, т.к. SAX обеспечивает высокую производительность
        и низкие затраты памяти при считывании.<br>
    </div>

</body>
</html>